body {
	padding: 1em;
	font: 2em monospace;
	background: url(background.png) no-repeat left bottom #A4B7C9;
	background-attachment: fixed;
	height: 100%; /* expand body so the whole background is visible */
}

h1 {
	text-align: center;
}

h2 {
	font-size: 1em;
	margin-top: 0;
	text-align: center;
}

p {
	font-size: 0.7em;
}

.warning {
	color: #F11;
}

iframe {
	width: 100%;
	height: 720px;
	border: none;
	background-color: #FFF;
}

h2.result {
	font-style: italic;
}

#container {
	margin: 1em auto;
	width: 70%;
}

#questions {
	margin-bottom: 1em;
}

a, a:visited {
	display: block;
	padding: 5px;
	text-decoration: none;
	color: #15C;
}

a.radio:hover,
#restart:hover {
	text-decoration: underline;
}

a.active {
	margin-left: 1em;
	font-weight: bold;
	cursor: text; 
}

a.inactive,
a.inactive:hover {
	background-color: none;
	color: #5D697E;
}

a.inactive:hover {
	text-decoration: underline;
}

#questions div {
	margin-bottom: 1em;
}
