body {
	padding: 1em;
	font-size: 2em;
	font-family: monospace;
	background-color: #BBD8F2;
}

h1 {
	text-align: center;
}

h2 {
	font-size: 1em;
	margin-top: 0;
	text-align: center;
}

iframe {
	width: 100%;
	height: 720px;
	border: none;
	background-color: #FFF;
}

h2.result {
	font-style: italic;
}

#questions-container {
	margin: 1em auto;
	width: 80%;
}

#questions {
	margin-bottom: 1em;
}

a {
	display: block;
	padding: 5px;
	text-decoration: none;
	color: #15C;
}

a.radio:hover {
	font-weight: bold;
}

a.active {
	margin-left: 1em;
	font-weight: bold;
}

a.inactive,
a.inactive:hover {
	background-color: none;
	color: #5D697E;
}

#questions div {
	margin-bottom: 1em;
}
